*
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body
{
    background-color: rgb(190, 167, 212);

}

main
{
    background-color: #FFFFFF;
    width: 555px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px #000000;
    border-radius: 20px;
}

h2
{
    font-size: 2em;
    color: rgb(126, 36, 209);
}

h2
{
    font-size: 1.5em;
    color: rgb(126, 36, 209);
}

img.lado
{
    float: right;
}

a
{
    text-decoration: none;
    color: rgb(109, 28, 184);
}

a:hover
{
    text-decoration: underline;
    color: rgb(89, 18, 155);
}
